/* Global style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Lato;
}
img{
    max-width: 100%;
}
.container-width{
    width: 75%;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-global{
    padding: 20px 43px;
    background: #E55473;
    border-radius: 8px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
.section-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 0;
}
/* Banner section */
.banner-section{
    background: #E554731A;
    padding-top: 65px;
}
.banner-left{
    width: 50%;
}
.banner-left h2{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.banner-left p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 32px 0;
}
.banner-right{
    width: 50%;
    text-align: right;
}
/* Feature section */
.feature-section{
    padding: 150px 0;
}
.feature {
    width: 32%;
    text-align: center;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    position: relative;
}
.feature1 {
    background: rgba(167, 33, 98, 0.15);
}
.feature2 {
    background: rgba(5, 151, 160, 0.15);
}
.feature3 {
    background: rgba(71, 125, 17, 0.15);
}
.feature-img1 {
    margin-top: 110px;
}
.feature-img2 {
    margin-top: 100px;
}
.feature-img3 {
    margin-top: 67px;
}
.features{
    padding-top: 48px;
}
.link {
    position: absolute;
    bottom: -79px;
    left: 110px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

/* working process section */
.working-process {
    padding: 90px 0 134px;
}
.processes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #2727270D;
    padding: 87px 0;
}
.process{
    text-align: center;
}
.process p{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

/* offer section */
.offer-section .flex{
    justify-content: space-evenly;
}
.offer-section {
    background: rgba(229, 84, 115, 0.05);
    padding: 85px 0;
}
.offer-section .section-content{
    text-align: center;
}
.offer-section span{
    color: #E55473;
}
/* product section */

.product{
    width: 22%;
}
.product-content{
    text-align: center;
    margin-top: 20px;
}
p.product-title {
    font-size: 20px;
    margin-bottom: 13px;
}
p.price del {
    margin-left: 13px;
    color: red;
}
.products{
    margin-top: 40px;
}
.products-section{
    padding: 100px 0;
}
/* Social section */
.social-post{
    width: 25%;
}
.social-posts{
    margin-top: 30px;
}
.social{
    padding: 100px 0;
}

/* newslatter */

.newlater-form{
    text-align: center;
}
.newlater-form [type="email"] {
    width: 700px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #FFF;
    margin-right: 16px;
    padding: 23px 0 23px 23px;
}
.newslatter-main {
    background: url("../images/Rectangle\ 9.png");
    height: 449px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

/* Footer section */
.footer{
    background: #111010;
    padding: 120px 0;
}
.footer .section-title{
    color:#fff;
}
.footer .section-description{
    color: rgba(255, 255, 255, 0.90);
}
.footer span{
    color: #E55473;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}